.bo{
background-color:silver;

}
.container{
    color: red;
    text-align: center;
    background-color: aqua;
}
img {
     display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
.custom-btn {
    width: 200px;
    height: 50px;
    font-size: 20px;
}